.clickable {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
}

#panel-heading{
  color: #ffffff;
  background-color: #3c8dbc;
  text-align: left;
  font-weight: bold;
}
#sucessoAdd{
	text-align:center;
	font-weight:bolder;
	display:none;
}
#falhaFail{
	text-align:center;
	font-weight:bolder;
	display:none;
}
#falhaFail{
	text-align:center;
	font-weight:bolder;
	display:none;
}
#sucessoMensage{
text-align:center;
  font-weight:bolder;
  display:none;
}
#falhaMensage{
text-align:center;
  font-weight:bolder;
  display:none;
}